body {
  margin: 0;
  padding: 0;
}

h2,
h3 {
  margin: 10px;
  font-size: 18px;
}

h3 {
  font-size: 16px;
}

p {
  margin: 10px;
}

/**
* Create a position for the map
* on the page */
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

/**
* Set rules for how the map overlays
* (information box and legend) will be displayed
* on the page. */

.inter-<uniquifier > {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
.map-overlay {
  position: absolute;
  bottom: 10;
  right: 0;
  background: #fff;
  margin-right: 20px;
  font-family: .inter-<uniquifier>;
  overflow: auto;
  border-radius: 3px;
}
#features {
  top: 0;
  height: 150px;
  margin-top: 30px;
  width: 300px;
}
#legend {
  padding: 5px 10px 5px 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  line-height: 30px;
  height: 150px;
  bottom: 80px;
  width: 160px;
}
.legend-key {
  display: inline;
  border-radius: 20%;
  width: 20px;
  height: 30px;
  padding: 5px;
}
.mapboxgl-ctrl-geocoder {
  width: 280px !important;
}